extends layout
block content
 h1= title
 form(id='gunsForm', action="/resource/guns", method="POST")
  div.form-group
    label.gunsAttr(for='guns_type') Guns type
    input#guns_type(type='String', name='guns_type')
  div.form-group
    label.gunsAttr(for='guns_name') Guns Name
    input#guns_name(type='String', name='guns_name')
  div.form-group
    label.gunsAttr(for='guns_cost') Guns cost
    input#guns_cost(type='number', name='guns_cost',min=100,max=2000)
  input(type="submit")
 script.
  document.forms['gunsForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
   });
  });